.svg-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 10% 0 no-repeat;
}

.svg-bar-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 70% 34.1330212599961% no-repeat;
}

.svg-bar-mekko-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 11.437908496732026% no-repeat;
}

.svg-box-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 10% 11.377673753332033% no-repeat;
}

.svg-bubble-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 20% 0 no-repeat;
}

.svg-bubble-map {
	background: url("svg/sprite.css-cf66cc2a.svg") 20% 10.908496732026146% no-repeat;
}

.svg-bullet-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 22.875816993464053% no-repeat;
}

.svg-bullseye {
	background: url("svg/sprite.css-cf66cc2a.svg") 9.988299420678635% 22.875816993464053% no-repeat;
}

.svg-candlestick-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 19.882857142857144% 22.755347506664066% no-repeat;
}

.svg-candlestick-chart-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 30% 0 no-repeat;
}

.svg-cherry-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 30% 10.851049996749238% no-repeat;
}

.svg-choropleth-map {
	background: url("svg/sprite.css-cf66cc2a.svg") 30% 21.816993464052292% no-repeat;
}

.svg-circular-gauge {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 34.1330212599961% no-repeat;
}

.svg-column-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 10% 34.1330212599961% no-repeat;
}

.svg-connector-map {
	background: url("svg/sprite.css-cf66cc2a.svg") 40% 0 no-repeat;
}

.svg-custom-drawing-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 40% 11.377673753332033% no-repeat;
}

.svg-dot-map {
	background: url("svg/sprite.css-cf66cc2a.svg") 40% 22.34640522875817% no-repeat;
}

.svg-dot-slash-marker-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 40% 33.606397503413305% no-repeat;
}

.svg-doughnut-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 20% 34.1330212599961% no-repeat;
}

.svg-error-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 30% 34.1330212599961% no-repeat;
}

.svg-error-chart-1 {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 44.98407125674534% no-repeat;
}

.svg-flow-map {
	background: url("svg/sprite.css-cf66cc2a.svg") 50% 0 no-repeat;
}

.svg-funnel-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 50% 11.377673753332033% no-repeat;
}

.svg-gantt-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 50% 22.34640522875817% no-repeat;
}

.svg-heatmap-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 50% 33.78431372549019% no-repeat;
}

.svg-hilo-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 56.130718954248366% no-repeat;
}

.svg-horizontal-gauge {
	background: url("svg/sprite.css-cf66cc2a.svg") 10% 44.98407125674534% no-repeat;
}

.svg-horizontal-gauge-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 20% 44.98407125674534% no-repeat;
}

.svg-image-gauge {
	background: url("svg/sprite.css-cf66cc2a.svg") 30% 44.98407125674534% no-repeat;
}

.svg-indicator-gauge {
	background: url("svg/sprite.css-cf66cc2a.svg") 40% 44.98407125674534% no-repeat;
}

.svg-jump-line-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 10% 55.83512125349457% no-repeat;
}

.svg-line-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 20% 55.83512125349457% no-repeat;
}

.svg-line-chart-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 30% 55.83512125349457% no-repeat;
}

.svg-mosaic-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 40% 55.83512125349457% no-repeat;
}

.svg-pareto-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 50% 55.83512125349457% no-repeat;
}

.svg-percent-stacked-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 60% 0 no-repeat;
}

.svg-percent-stacked-bar-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 60% 10.851049996749238% no-repeat;
}

.svg-percent-stacked-column-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 60% 21.702099993498475% no-repeat;
}

.svg-percent-stacked-spline-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 60% 32.55314999024771% no-repeat;
}

.svg-percent-stacked-step-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 60% 43.40419998699695% no-repeat;
}

.svg-pert-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 60% 54.54248366013072% no-repeat;
}

.svg-pie-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 67.21279500682661% no-repeat;
}

.svg-polar-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 10% 67.21279500682661% no-repeat;
}

.svg-polar-chart-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 20% 67.21279500682661% no-repeat;
}

.svg-polar-chart-3 {
	background: url("svg/sprite.css-cf66cc2a.svg") 30% 67.21279500682661% no-repeat;
}

.svg-polar-column-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 70% 0 no-repeat;
}

.svg-polar-polygon-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 70% 11.437908496732026% no-repeat;
}

.svg-polar-polyline-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 70% 22.875816993464053% no-repeat;
}

.svg-polar-range-column-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 0 no-repeat;
}

.svg-polar-stacked-column-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 70% 45.22222222222222% no-repeat;
}

.svg-polar-stacked-polygon-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 70% 56.66013071895425% no-repeat;
}

.svg-pyramid-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 40% 67.21279500682661% no-repeat;
}

.svg-quadrant-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 50% 67.21279500682661% no-repeat;
}

.svg-radar-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 60% 67.21279500682661% no-repeat;
}

.svg-radar-chart-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 78.06384500357584% no-repeat;
}

.svg-range-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 10% 78.06384500357584% no-repeat;
}

.svg-range-bar-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 20% 78.06384500357584% no-repeat;
}

.svg-range-bar-chart-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 30% 78.06384500357584% no-repeat;
}

.svg-range-column-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 40% 78.06384500357584% no-repeat;
}

.svg-range-column-chart-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 50% 78.06384500357584% no-repeat;
}

.svg-range-spline-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 60% 78.06384500357584% no-repeat;
}

.svg-range-step-line-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 70% 78.06384500357584% no-repeat;
}

.svg-rounded-column-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 80% 0 no-repeat;
}

.svg-sankey-diagram {
	background: url("svg/sprite.css-cf66cc2a.svg") 80% 10.733118971061094% no-repeat;
}

.svg-scatter-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 80% 20.60334178531955% no-repeat;
}

.svg-seat-map {
	background: url("svg/sprite.css-cf66cc2a.svg") 80% 31.62091503267974% no-repeat;
}

.svg-sparkline-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 80% 42.832065535400815% no-repeat;
}

.svg-sparkline-chart-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 80% 53.683115532150055% no-repeat;
}

.svg-spline-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 80% 64.5341655288993% no-repeat;
}

.svg-spline-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 80% 75.38521552564852% no-repeat;
}

.svg-spline-chart-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 88.91489500032507% no-repeat;
}

.svg-stacked-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 10% 88.91489500032507% no-repeat;
}

.svg-stacked-bar-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 20% 88.91489500032507% no-repeat;
}

.svg-stacked-column-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 30% 88.91489500032507% no-repeat;
}

.svg-stacked-spline-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 40% 88.91489500032507% no-repeat;
}

.svg-stacked-step-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 50% 88.91489500032507% no-repeat;
}

.svg-stacked-stock-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 90% 0 no-repeat;
}

.svg-step-line-area-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 90% 11.377673753332033% no-repeat;
}

.svg-step-line-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 90% 22.22872375008127% no-repeat;
}

.svg-step-line-chart-1 {
	background: url("svg/sprite.css-cf66cc2a.svg") 90% 33.079773746830504% no-repeat;
}

.svg-stick-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 90% 43.93082374357974% no-repeat;
}

.svg-stock-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 90% 55.071895424836605% no-repeat;
}

.svg-stock-ohlc-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 90% 66.15954749366101% no-repeat;
}

.svg-stock-ohlc-chart-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 90% 77.01059749041023% no-repeat;
}

.svg-sunburst-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 90% 88.27775418884931% no-repeat;
}

.svg-surface-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 70% 66.99675272481755% no-repeat;
}

.svg-tag-cloud {
	background: url("svg/sprite.css-cf66cc2a.svg") 60% 88.91489500032507% no-repeat;
}

.svg-tank-gauge {
	background: url("svg/sprite.css-cf66cc2a.svg") 70% 88.91489500032507% no-repeat;
}

.svg-tank-gauge-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 80% 88.91489500032507% no-repeat;
}

.svg-thermometer-gauge {
	background: url("svg/sprite.css-cf66cc2a.svg") 0 99.7659449970743% no-repeat;
}

.svg-treemap-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 100% 0 no-repeat;
}

.svg-venn-diagram {
	background: url("svg/sprite.css-cf66cc2a.svg") 100% 11.377673753332033% no-repeat;
}

.svg-vertical-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 100% 22.22872375008127% no-repeat;
}

.svg-vertical-gauge {
	background: url("svg/sprite.css-cf66cc2a.svg") 100% 33.079773746830504% no-repeat;
}

.svg-vertical-gauge-2 {
	background: url("svg/sprite.css-cf66cc2a.svg") 100% 43.93082374357974% no-repeat;
}

.svg-waterfall-chart {
	background: url("svg/sprite.css-cf66cc2a.svg") 100% 54.781873740328976% no-repeat;
}

.svg-word-tree {
	background: url("svg/sprite.css-cf66cc2a.svg") 100% 64.9133524097354% no-repeat;
}

