{% extends "page.html" %}

{% block primary %}
    <div class="col-xs-12">
        <h1>Data Visualisation Gallery</h1>
        <h2> Technology Companies Network Chart. </h2>
        <h3>This is a network graph of the main hitech companies and their relations to one another. The data was manually derived from Google Knowledge Graph, so it reflects which companies people search for together.</h3>
        <iframe
        data-module="data-viewer"
        style="width: 100%; height: 540px;"
        data-hj-allow-iframe=""
        src="https://tirathvirdee.github.io/net6.html"
//        src="./network0.html"

       
        frameborder="0">
        </iframe>
        <br>
        <br>
        <h2>Web Internet Traffic</h2>
        <iframe
        data-module="data-viewer"
        style="width: 100%; height: 540px;"
        data-hj-allow-iframe=""
        src="https://tirathvirdee.github.io/network0.html"
//        src="./network0.html"

       
        frameborder="0">
        </iframe>
        

        
        
        
        <h2>Web Internet Connection Types</h2>
        <iframe
        data-module="data-viewer"
        style="width: 100%; height: 540px;"
        data-hj-allow-iframe=""
        src="https://tirathvirdee.github.io/network2.html"

       
        frameborder="0">
        </iframe>

<!--
        <h2>Network Graph</h2>
        <iframe 
        data-module="data-viewer"
        style="width: 100%; height: 540px;"
        data-hj-allow-iframe=""
        src="https://dreddx.github.io/viz-network-diagram/"
        frameborder="0">
        </iframe>


-->
        <h2>Data Grid Viewer</h2>
        <iframe 
        data-module="data-viewer"
        style="width: 100%; height: 600px; max-height: 1700px; height: 600px; background-color: inherit;"
        data-hj-allow-iframe=""
        src="https://dreddx.github.io/viz-datagrid/"
        frameborder="0">
        </iframe>
        <br><br>
        
        <h2>IMdb Genres Circles</h2>
        <iframe
        data-module="data-viewer"
        style="width: 100%; height: 540px;"
        data-hj-allow-iframe=""
        src="https://tirathvirdee.github.io/network4.html"

       
        frameborder="0">
        </iframe>
        <br>
        <h2>Greek Philosophy Values and Philosophers</h2>
        <iframe
        data-module="data-viewer"
        style="width: 100%; height: 540px;"
        data-hj-allow-iframe=""
        src="https://tirathvirdee.github.io/network3.html"

       
        frameborder="0">
        </iframe>
        
    </div>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block secondary %}
{% endblock %}
